*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root{
	scroll-behavior: smooth;
}

body{
	font-family: 'Open sans', sans-serif;
}

.contenedor{
	width: 90%;
	max-height: 1200px;
	overflow: hidden;
	margin: auto;
	padding: 60px 0;
}

header{
	height: 100vh;
	background-image: linear-gradient(to top, rgba(251, 194, 235, 0.5) 0%,rgba(166, 193, 238, 0.5) 100%), url(../Resources/header-image.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

.head{
	text-align: center;
	padding: 0;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: #ffff;
}

.menu-icon{
	position: fixed;
	top: 30px;
	right: 30px;
	background: #ffff;
	width: 40px;
	height: 40px;
	cursor: pointer;
	border-radius: 10px;
	box-shadow: 0 0 6px rgba(0,0,0,.5);
}

.menu-nav{
	position: fixed;
	top: 0;
	right: 0;
	width: 30vw;
	height: 100%;
	background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	/*transition: transform .3s ease-in-out;*/
	transform: translate(110%);
	box-shadow: 0 0 6px rgba(0,0,0,.5);
}

.spread{
	transform: translate(0);
}

.menu-nav a{
	color: #ffff;
	text-decoration: none;
}

.copy{
	font-weight: 300;
	font-size: 25px;
}

.titulo{
	margin-bottom: 15px;
	font-size: 60px;
}

/*Nuestro servicios*/

.subtitulo{
	text-align: center;
	font-weight: 300;
	color: #9f8ad0;
	margin-bottom: 40px;
	font-size: 40px;
}

.contenedor-servicios{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.contenedor-servicios img{
	width: 40%;
}


.checklist-servicios{
	width: 45%;
}


.services{
	margin-bottom: 20px;
}


.n-services{
	margin-bottom: 7px;
	color: #9f8ad0;
}

.number{
	display: inline-block;
	background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
	width: 30px;
	height: 30px;
	color: #ffff;
	text-align: center;
	border-radius: 50%;
	font-weight: 700;
	line-height: 30px;
	margin-right: 5px;
}

.galeria{
	background: #f2f2f2;
}

.contenedor-galeria{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.img-galeria{
	object-fit: cover;
	width: 30%;
	display: block;
	margin-bottom: 15px;
	box-shadow: 0 0 6px rgba(0,0,0,.5);
	cursor:pointer;
}

.imagen-light{
	position: fixed;
	background: rgba(0,0,0,0.6);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translate(110%);
	transition: transform .2s ease-in-out;
}

.show{
	transform: translate(0);
}

.agregar-imagen{
	object-fit: cover;
	width: 60%;
	border-radius: 10px;
	transform: scale(0);
	transition: transform .3s .2s;
}

.showimage{
	transform: scale(1);
}

.close{
	position: absolute;
	top:15px;
	left:15px;
	width: 40px;
	cursor: pointer;
}


/*experts */

.experts{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.cont-expertos{
	width: 30%;
	text-align: center;
	margin-bottom: 20px;
}

.cont-expertos img{
	width: 80%;
	margin: 0 auto;
	display: block;
}

.n-expertos{
	display: inline-block;
	margin-top: 20px;
	width: 100%;
	font-weight: 400; 
}

/* footer */

footer{
	padding-top: 0.1px;
	background: #9f8ad0;
	padding-bottom: 0.1px;
}
.contenedor-contacto{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	padding-top: 60px;
	padding-bottom: 40px; 
}

.contacto{
	width: 40%;
	color: #ffff;
}

.brand{
	font-weight: 500;
	font-size: 40px;
}

.brand-p{
	font-weight: 500; 
}

.social-media{
	width: 50%;
	display: flex;
	justify-content: flex-end;
}

.social-media-icon{
	display: inline-block;
	margin-left: 20px;
	width: 60px;
	height: 60px;
	border: 1px solid #ffff;
	border-radius: 50%;
	text-align: center;
	color: #ffff;
}

.social-media-icon:hover{
	background: #ffff;
	color:#764ba2;
}

.social-media-icon i{
	font-size: 30px;
	line-height: 60px;
}

.line{
	width: 90%;
	margin:0 auto;
	height: 2px;
	background:#ffff;
	margin-bottom: 60px; 
}

/*responsive*/

@media screen and (max-width:730px){
	.menu-nav{
		width: 50vw;
	}
	.titulo{
		font-size: 40px;
	}
	.contenedor-servicios{
		width: 80%;
		margin-bottom: 40px;
	}
	.checklist-servicios{
		width: 80%;
	}
	.services{
		margin-bottom: 30px;
	}
	.agregar-imagen{
		width: 80%;
	}
	.img-galeria{
		width: 45%;
	}
	.cont-expertos{
		width: 80%;
	}
	.social-media{
		width: 80%;
		justify-content: space-around;
	}
	.social-media i{
		margin-left: 0;
	}
	.contacto{
		text-anchor: center;
		width: 80%;
		margin-bottom: 40px;
	}

}

@media screen and (max-width:350px){
	.menu-nav{
		width: 200vw;
	}
	.titulo{
		font-size: 40px;
	}
	.copy{
		font-size: 20px;
	}
	.contenedor-servicios{
		width: 80%;
		margin-bottom: 40px;
	}
	.checklist-servicios{
		width: 80%;
	}
	.services{
		margin-bottom: 30px;
	}
	.agregar-imagen{
		width: 80%;
	}
	.img-galeria{
		width: 80%;
	}
	.cont-expertos{
		width: 80%;
	}
	.social-media{
		width: 80%;
		justify-content: space-around;
	}
	.social-media i{
		margin-left: 0;
	}
	.contacto{
		text-anchor: center;
		width: 80%;
		margin-bottom: 40px;
	}

}