<Style>

.container{
  background-color: hsl(62, 5%, 92%);
}

.bar{
  color:white;
  background-color: hsl(253, 50%, 8%);
  display: flex;
}

.leftbar{
  display: flex;
  flex-direction: column;
}

.FCC{
  display: flex;
}

.follow{
  display: flex;
  align-items: center;
}

.div1{
  background-color: hsl(360, 100%, 100%);
}

.list{
  position: relative;
  justify-content: center;
  width: 29%;
  left: 35%;
}

.image{
  display: flex;
  max-width: 40%;
  margin: auto;
}

#img-caption{
  text-align: center;
  font-size: 18px;
  margin: auto;
  margin-top: 25px;
  max-width: 50%;
}

h2{
  text-align: center;
  margin-top: 10px;
}
h3{
  text-align: center;
}
</Style>