body{
  display:flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

ul{
  list-style: none;
}

a{
  text-decoration:none;
  color: white;
}

/*here start the navbar */

.nav{
  display:flex;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: hsl(6, 37%, 41%);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
}

.nav_ul{
  display: flex;
}

/*
@media (max-width: 600px;){
  
}*/

.nav_ul a{
  display:block;
  font-size: 20px;
  padding: 20px;
}

.nav_ul a:hover{
  background-color:hsl(263, 21%, 41%);
}

/*here ends the navbar */

/*here start the welcome section*/

.Welcome-section{
  display: flex;
  flex-direction: column;
  width: 100%;
  heaight: 33%;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

.Welcome-section > h1{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top:25%;
  margin-bottom:0;
  font-size: 50px;
}

.Welcome-section > p{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom:25%;
  margin-top:0;
  font-size: 20px;
}

/*here ends the welcome section*/

/*here start the projects section*/

.Projects-section{
  display: flex;
  flex-direction: column;
  width: 100%;
  heaight: 33%;
  background-image: linear-gradient(90deg, #130e6c 0%, #154d9f 100%);
}

.Projects-section > h1{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-size: 50px;
  color: white;
}

#grid{
  display: grid;
  align-self: center;
  width: 60%;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-bottom: 50px;
}

.project{
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 90%;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  margin-bottom: 25px;
}

.project > img{
  width: 100%;
  height: 90%;
}

.project > p{
  width: 100%;
  height: 10%;
  color: white;
  font-size: 30px;
  text-align: center;
  margin-top: 5px;
}

.project > p:hover{
  display: flex;
  justify-content: center;
  
}

.Projects-section > p{
  display: flex;
  justify-content: center;
  font-size: 50px;
  background-color: green;
  width: 15%;
  margin: auto;
  margin-bottom: 50px;
  border-radius: 8%;
}

.Projects-section > p:hover{
  background-color: hsl(132, 8%, 44%);
  animation-name: bigger;
  animation-duration: 1s;
}

@keyframes bigger{
  50%{
    font-size: 52px;
    width: 16%;
  }
}

.footer{
  display: flex;
  flex-direction: column;
  whidt: 100%;
  height:33%;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

.text{
  display: flex;
  justify-content: center;
  margin-top:15%;
  margin-bottom:0;
  font-size: 50px;
}

.text:hover{
  animation-name: light;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.footer > ul{
  display: flex;
  justify-content: space-around;
  margin-top: 0;
  margin-bottom:0;
  whidth: 80%;
  font-size: 50px;
}
.footer > ul > li{
  display: flex;
  font-size: 50px;
}

@keyframes light{
  50%{
    color:red;
  }
}

.line{
  weight: 100%;
  margin-top: 5%;
  padding-bottom: 0.5%;
  background-color: red;
}

#footer_end{
  color: white;
  display: flex;
  justify-content: flex-end;
  margin-right: 25%;
  margin-top: 1%;
  margin-bottom: 1%;
}